# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Node
node_modules/
dist/
*.log

# Java
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Env
.env
.env.local
*.local

# Solidity build artifacts
contracts/build/
